    <div id="super_nav">
        <div id="nav">
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "News", :controller => "news", :action => "index" %></li>
                <li><a href="#">Joining</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">Volunteer</a></li>
                <li><a href="#" class="no_border">Contact</a></li>
            </ul> 
        </div>
    		<div id="overlay"></div>
    </div>