    <div id="super_nav">
        <div id="nav">
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "News", :controller => "news", :action => "index" %></li>
                <% unless (params[:controller] == "pages" && params[:action] != "index") %>
                <% Page.roots.each do |page| %>
                <li><%= link_to page.name, page %></li>
                <% end %>
                <% end %>
                <li><a href="#" class="no_border">Contact</a></li>
            </ul> 
        </div>
    		<div id="overlay"></div>
    </div>