<ul>
  <% pages.each do |page, childern| %>
  <li>
    <%= link_to_unless_current page.name, page %>
    <%= render 'layouts/submenu_pages', pages: children if children.present? %>
  </li>
  <% end %>
</ul>